body,html{
    font-family: 'Roboto', sans-serif;
    background-image:url('Fondo3.jpg');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;

}

header{
    padding: 1.5em 0;
    position: relative;
    background: rgba(255, 255, 255, 0.10);
    background-image: url('Logo.png');
    background-repeat: no-repeat;
    height: auto;
    font-size: 20px;
}

header::after{
    content: '';
    clear: both;
    display: block;
}

.championsLOL{
  margin:auto;
  width: 900px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  left: 0;
  display: inline-block;
  padding: 10px;

}

.lol, .championsLOL{
  width: 250px;
  height: 280px;
  text-align: center;
  float: left;
  /*background: rgba(255, 255, 255, 0.10);*/
  padding: 5px;
  margin: 9px;
  /*border-radius: 10px;*/
  background-image: url('carta.png');
  /*opacity: 0.6;*/
  background-repeat: no-repeat; 

}
.championsLOL{
  width: 750px;
  text-align: center;
  //float: left;
  /*background: rgba(255, 255, 255, 0.10);*/
  padding: 5px;
  margin: 9px;
  /*border-radius: 10px;*/
  background-image: url('carta.png');
  /*opacity: 0.6;*/
  background-repeat: no-repeat; 
}

/*Button*/
.buttonJson{
    background-image: url('game.png');
    background-repeat: no-repeat;
    /*background: rgba(255, 255, 250, 0.0);*/
    width: 36px;
    height: 36px;
    border: none !important;
}
/*Inicio-Container-Checkbox*/
.containerCheckbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerCheckbox:hover input ~ .checkmark {
    background-color: rgb(85, 82, 82);
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheckbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerCheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerCheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  ul.containerCheckbox li {
    display: inline;
    padding-right: 0.5em;
  
  }
/*Fin-Container-Checkbox*/

/* Inicio-Search*/
.inputSeach[type=text] {
  width: 50px;
  box-sizing: border-box;
  border: rgba(255, 255, 255, 0.0);
  border-radius: 4px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.0);
  background-image: url('search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
}
input[type=text]:focus {
  width: 15%;
}
/* Fin-Search*/

/*Estilos de la galeria*/

.galeria {
  box-sizing: border-box;
	width: 90%;
	margin: auto;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    padding: 20px;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 150px;
	height: 100px;
	height: 150px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {

	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}

.logo span{
    font-weight: 300;
}

.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-nav li{
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child{
    border-bottom: none;
}
.site-nav a{
    color: #eaf02d;
    display: block;
    padding: 2em 6em;
    text-transform: uppercase;
    text-decoration: none;

}
.site-nav a:hover,
.site-nav a:focus{
    background: #4b4847;
    color:  #7fb3d5;
    font-weight: bold;
}

.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle{
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
}

.menu-open .hamburger{
    transform: rotate(45deg);
}

.menu-open .hamburger::before{
    opacity: 0;
}

.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}

.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before{
    transform: translateY(-6px);
}

.hamburger::after{
    transform: translateY(3px);
}

@media (min-width:700px){
  .menu-toggle{
      display: none;

  }
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      clip-path: initial;
  }
  .site-nav li{
      border: none;
      display: inline-block;
  }

  .site-nav a{
      margin-left: 3em;
      padding: 0;
  }

  .site-nav--icon{
      display: none;
  }

  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }

}
